<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CustomerServlet</servlet-name>
        <servlet-class>BLL.CustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepositDrawalServlet</servlet-name>
        <servlet-class>BLL.DepositDrawalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepositDeleteServlet</servlet-name>
        <servlet-class>BLL.DepositDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepositEditServlet</servlet-name>
        <servlet-class>BLL.DepositEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerLoanServlet</servlet-name>
        <servlet-class>BLL.CustomerLoanServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerServlet</servlet-name>
        <url-pattern>/CustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepositDrawalServlet</servlet-name>
        <url-pattern>/DepositDrawalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepositDeleteServlet</servlet-name>
        <url-pattern>/DepositDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepositEditServlet</servlet-name>
        <url-pattern>/DepositEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerLoanServlet</servlet-name>
        <url-pattern>/CustomerLoanServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
